<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ЯковлевАвтосервисEntities" connectionString="metadata=res://*/YakovlevModel.csdl|res://*/YakovlevModel.ssdl|res://*/YakovlevModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Radonear;initial catalog=ЯковлевАвтосервис;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>